/*
figcaption {
    display: none;
}


img {
    width: 300px;
    height: auto;
    aspect-ratio: auto;
    border-radius: 15px;
}


.filament-tiptap-grid-builder {
    display: grid;
    margin: auto;
    max-width: 70%;
    margin-top: 25px;
    column-gap: 10px;
    items: center;
    justify-content: center;
}
*/
.especificaciones {
    display: grid;
    grid-template-rows: min-content 0fr;
    transition: grid-template-rows 500ms;
}

.especificaciones.mostrado {
    grid-template-rows: min-content 1fr;
}